/* Media Query */
@media screen and (max-width: 1024px) {
  .sliderColumn > h1 {
    font-size: 2.5rem !important;
  }
  .sliderColumn > p {
    padding-inline: 50px;
  }
  .dis {
    width: 99%;
  }
  .dis > .img-Dark > h3 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 1.3rem;
  }
  .dis > .img-Dark > .static {
   display: none;
  }
  .dis1 {
    width: 99%;
  }
  .dis1 > .img-Dark > h3 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 1.3rem;
  }
  .dis1 > .img-Dark > .static {
    display: none;
   }
  .dis2 {
    width: 99%;
  }
  .dis2 > .img-Dark > h3 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 1.3rem;
  }
  .dis2 > .img-Dark > .static {
    display: none;
   }
}
@media screen and (max-width: 768px) {
  .heading {
    margin-left: 90px;
  }
  .group {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    max-width: 95%;
  }
  .error_msg {
    padding-left: 8px;
    padding-top: 4px;
  }
  .heading {
    padding-right: 100px;
    font-size: 2rem;
    text-align: center;
    padding-left: 21px;
  }
  .MiniHeader{
    display: none;
  }
  .dis {
    width: 100%;
    background-size: cover;
  }
  .dis > .img-Dark > h3 {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 1.3rem;
  }
  .dis > .img-Dark > .static {
   display: none;
  }
  .dis1 {
    width: 100%;
  }
  .dis1 > .img-Dark > h3 {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 1.3rem;
  }
  .dis1 > .img-Dark > .static {
    display: none;
   }
  .dis2 {
    width: 100%;
  }
  .dis2 > .img-Dark > h3 {
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-size: 1.3rem;
  }
  .dis2 > .img-Dark > .static {
    display: none;
   }
   .footer-input > input{
     width: 60% !important;
   }
   .footer-input > button{
    width: 40% !important;
  }
}

@media screen and (max-width: 425px) {
  .heading {
    padding-right: 50px;
  }
  .group {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    max-width: 95%;
  }
  .error_msg {
    padding-left: 8px;
    padding-top: 4px;
  }
  .heading {
    padding-right: 100px;
    font-size: 2rem;
  }
  .button {
    height: 40px;
    width: 140px;
  }
  .dis {
    width: 100%;
    background-size: cover;
  }
  .dis > .img-Dark > h3 {
    position: absolute;
    bottom: 40px;
    left: 100px;
    font-size: 1.5rem;
  }
  .dis > .img-Dark > .static {
   display: none;
  }
  .dis1 {
    width: 100%;
  }
  .dis1 > .img-Dark > h3 {
    position: absolute;
    bottom: 40px;
    left: 100px;
    font-size: 1.5rem;
  }
  .dis1 > .img-Dark > .static {
    display: none;
   }
  .dis2 {
    width: 100%;
  }
  .dis2 > .img-Dark > h3 {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-size: 1.5rem;
  }
  .dis2 > .img-Dark > .static {
    display: none;
   }
   .footer-input > input{
     width: 60% !important;
   }
   .footer-input > button{
    width: 40% !important;
  }
}
@media screen and (max-width: 375px) {
  .heading {
    margin-left: 70px;
  }
  .para {
    font-size: 0.9rem;
  }
  .error_msg {
    font-size: 0.9rem;
  }
  .button {
    height: 40px;
    width: 140px;
  }
}
@media screen and (max-width: 350px) {
  .heading {
    margin-left: 70px;
  }
  .para {
    font-size: 0.9rem;
  }
  .error_msg {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 320px) {
  .heading {
    text-align: center;
    margin-left: 20px;
  }
  .button {
    height: 40px;
    width: 150px;
    
  }
}
