@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: white;
  color: #ff201e;
}

/* navbar  */
#nav2 {
  transition: 1s;
}
.nav-link {
  transition: 0.4s;
}
.nav-link:hover {
  color: #fff !important;
  background-color: #000;
  margin-right: 10px;
}

.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
}
.userPhoto {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: aliceblue;
}
.MiniHeader {
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
}
.MiniHeader > .container > h5 {
  color: white;
  font-family: "poppins";
  font-size: 1rem;
  font-weight: normal;
  padding-top: 5px;
}

/* signup */
.SignUp-Container {
  height: 100vh;
}
.box {
  height: auto;
  border-radius: 15px;
  background-image: url(./img/slide-02.jpg.webp);
  background-size: cover;
  box-shadow: 1px 1px 10px #666;
}
.box2 {
  height: auto;
  border-radius: 15px;
  background-image: url(./img/slide-03.jpg.webp);
  box-shadow: 1px 1px 10px #666;
  background-size: cover;
}
.heading {
  font-family: "Courier New", Courier, monospace;
}
.form-control {
  height: 45px;
  font-family: "poppins";
}

.form-control::placeholder {
  font-size: 1rem;
  font-family: "poppins";
}
.message {
  position: relative;
  left: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: #5382f7;
}
.error_message {
  color: red;
}
.error_msg {
  color: red;
  margin-left: 5px;
  font-family: "poppins";
}
/* .eyeIcon{ */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 85%;
  margin-top: 25px;
  margin-left: 10px;
}
.group2 {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 90%;
  margin-top: 25px;
  margin-left: 25px;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  border: 1px solid #666;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
  color: #666;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
  font-family: "poppins";
}

.input::placeholder {
  color: #666;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 1.5px #ff201e;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #000;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* signin */

.para {
  font-family: "poppins";
}

.message {
  position: relative;
  left: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: red;
}

/* Loading  */

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #e77b79;
  animation: pulse 0.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #ff201e;
    box-shadow: 0 0 0 0 #bd7c7a;
  }

  50% {
    transform: scale(1.2);
    background-color: #ff201e;
    box-shadow: 0 0 0 10px #df9291;
  }

  100% {
    transform: scale(0.8);
    background-color: #ff201e;
    box-shadow: 0 0 0 0 #cf8988;
  }
}

/* Slider  */
.slider23 {
  height: 750px;
  width: 100%;
  background-image: url(./img/h1_hero1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sliderColumn > h2 {
  font-family: "Clicker Script", cursive;
  color: #ff201e;
  padding-top: 50px;
  text-align: center;
  font-size: 2.8rem !important;
}

.sliderColumn > h1 {
  font-family: "Clicker Script", cursive;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 3.2rem !important;
}
.sliderColumn > p {
  font-family: "Clicker Script", cursive;
  font-family: "poppins";
  padding-inline: 110px;
  text-align: center;
  font-size: 1rem;
}

.slider24 {
  height: 650px;
  width: 100%;
  background-image: url(./img/h1_hero2.jpg);
  background-size: "cover";
}

.slider-heading4 {
  position: absolute;
  top: 25%;
  left: 12%;
  font-family: "Times New Roman", Times, serif;
}
.slider-heading1 {
  position: absolute;
  top: 32%;
  left: 12%;
  font-size: 65px !important;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

/* Static Product  */

.img-Dark {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0));
  transform: translateY(0%);
}
.dis {
  height: 350px;
  width: 95%;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 20px;
  transition: transform 0.6s;
  background-image: url(./img/items1.jpg.webp);
  background-size: cover;
  position: relative;
}
.dis:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 20px #ccc;
}
.dis > .img-Dark > h3 {
  font-family: "poppins";
  position: absolute;
  bottom: 50px;
  left: 75px;
  color: #fff;
  font-weight: 500 !important;
}

.dis1 {
  height: 350px;
  width: 95%;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 20px;
  transition: transform 0.6s;
  background-image: url(./img/items2.jpg.webp);
  background-size: cover;
  position: relative;
}
.dis1:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 20px #ccc;
}
.dis1 > .img-Dark > h3 {
  font-family: "poppins";
  position: absolute;
  bottom: 50px;
  left: 75px;
  color: #fff;
  font-weight: 500 !important;
}



.dis2 {
  height: 350px;
  width: 95%;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 20px;
  transition: transform 0.6s;
  background-image: url(./img/items3.jpg.webp);
  background-size: cover;
  position: relative;
}
.dis2:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 20px #ccc;
}
.dis2 > .img-Dark > h3 {
  font-family: "poppins";
  position: absolute;
  bottom: 50px;
  left: 70px;
  color: #fff;
  font-weight: 500 !important;
}
.button {
  height: 40px;
  width: 140px;
  background-color: #000;
  color: #fff;
  font-family: "poppins";
  border: none;
  outline: none;
  border-radius: 5px;
}
.button:active {
  border: 4px solid #fff;
}
.button2 {
  height: 40px;
  width: 170px !important;
  background-color: #000;
  color: #fff;
  font-family: "poppins";
  border: none;
  outline: none;
  border-radius: 5px;
}
.button2:active {
  border: 4px solid #fff;
}

/* User Profile */
.userProfile-container {
  height: 100vh;
  border: 2px solid red;
}
.left-side {
  height: 100px;
  border: 2px solid red;
}
.right-side {
  height: 100px;
  border: 2px solid red;
}

/* Cards */

.allProducts {
  height: auto;
}
.pro_dis {
  height: 500px;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}
.pro-img {
  height: 280px;
  border: 1px solid red;
  overflow: hidden;
}
.pro-img > img {
  height: 100%;
  width: 100%;
}
.pro_desc {
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}
.pro_desc > h6 {
  font-family: "poppins";
  letter-spacing: 4px;
  text-shadow: 1px 1px 6px #ccc;
}
.pro_desc > h3 {
  font-family: "poppins";
}

/* Product Detail */

.productDetail_Link {
  text-decoration: none;
  cursor: pointer;
  font-family: "poppins";
}
.productDetail-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  border: 2px solid red;
  align-items: center;
}

.productDetail-dis1 {
  height: 400px;
  width: 100%;
  /* border: 2px solid red; */
}
.productDetail-dis1 > img {
  height: 100%;
  width: 100%;
}
.productDetail-dis {
  height: auto;
  width: 100%;
}
.productDetail-dis > h4 {
  font-weight: 300;
  letter-spacing: 2px;
}
.productDetail-dis > h2 {
  font-family: "poppins";
  padding-top: 10px;
}
.productDetail-dis > h5 {
  font-weight: 400;
  font-size: 1.1rem;
  padding-top: 20px;
  font-family: "poppins";
}
.productDetail-dis > h3 {
  font-weight: 400;
  padding-top: 20px;
  font-family: "poppins";
}
.productDetail-dis > .iconsReview {
  display: flex;
}
.productDetail-dis > .iconsReview > .icons > .icon {
  color: #ff201e;
  height: 15px;
  padding-top: 10px;
  font-family: "poppins";
}
.productDetail-dis > .iconsReview > .icons > span {
  font-family: "poppins";
  padding-left: 7px;
}
.productDetail-dis > .iconsReview > .icons > p {
  font-family: "poppins";
  padding-left: 7px;
  display: inline;
  font-size: 1.5rem;
}
.productDetail-dis > .iconsReview > .review > .reviewIcon {
  height: 18px;
  padding-top: 10px;
  padding-left: 12px;
  font-family: "poppins";
}
.productDetail-dis > .price-Con {
  display: flex;
  justify-content: space-between;
}
