@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: white;
  color: green;
}

/* navbar  */
#nav2 {
  transition: 1s;
}
.nav-link {
  transition: 0.9s;
}
.nav-link:hover {
  color: #31d2f2 !important;
}

.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
}
.userPhoto {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: aliceblue;
}

/* signup */
.SignUp-Container {
  height: 100vh;
}
.box {
  height: auto;
  border-radius: 15px;
  background-image: url(./img/slide-02.jpg.webp);
  background-size: cover;
}
.heading {
  margin-left: 140px;
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
}
.form-control {
  height: 45px;
  font-family: "poppins";
}

.form-control::placeholder {
  font-size: 1rem;
  font-family: "poppins";
}
.message {
  position: relative;
  left: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: #5382f7;
}
.error_message {
  color: red;
}
.button {
  font-family: "poppins";
  font-weight: 500;
}
.error_msg {
  color: red;
  margin-left: 5px;
  font-family: "poppins";
}

/* signin */

.para {
  font-family: "poppins";
}

.message {
  position: relative;
  left: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: red;
}

/* Loading  */

.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.loader {
  width: 60px;
  height: 60px;
  border: 10px solid #1cd42550;
  border-top-color: #1cd425;
  animation: spin013151 1s linear infinite;
  border-radius: 100%;
}

@keyframes spin013151 {
  to {
    transform: rotate(360deg);
  }
}

/* Slider  */

.dis {
  height: 220px;
  width: 98%;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 20px;
  transition: transform 0.6s;
}
.dis:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 20px #666;
}
.slider23 {
  height: 650px;
  width: 100%;
  background-image: url(./img/slide-02.jpg.webp);
  background-size: "cover";
}
.slider-heading4{
  position: absolute;
  top: 25%;
  left: 8% ;
  font-family: 'Times New Roman', Times, serif;
}
.slider-heading1{
  position: absolute;
  top: 32%;
  left: 8%;
  font-size: 65px !important;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}